/*Font VSP Arrow*/
@font-face {
  font-family: 'vsp-icon';
  src:  url('../fonts/vsp-font.eot?2ui8cl');
  src:  url('../fonts/vsp-font.eot?2ui8cl#iefix') format('embedded-opentype'),
  url('../fonts/vsp-font.ttf?2ui8cl') format('truetype'),
  url('../fonts/vsp-font.woff?2ui8cl') format('woff'),
  url('../fonts/vsp-font.woff2?2ui8cl') format('woff2'),
  url('../fonts/vsp-font.svg?2ui8cl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;

}
.vsp-wrapper {

  position: fixed;
  z-index: 9999999999;

  /*Content position*/
  &.top{
    top: 0px;
    right: 0px;
    left: 0px;
    .vsp-action {
      .vsp-button {
        .arrow {
          &:before {
            content: "\e902";
          }
        }
      }
    }
  }
  &.right{
    top: 0px;
    right: 0px;
    bottom: 0px;
  }

  &.bottom{
    right: 0px;
    bottom: 0px;
    left: 0px;

  }

  &.left{
    top: 0px;
    left: 0px;
    bottom: 0px;
  }

  .vsp-action {
    text-align: center;
    position: relative;
    clear: both;
    display: flex;
    .vsp-button{
      display: inline-block;
      margin: 0 auto;
      background: rgba(52, 52, 52, 0.95);
      padding: 5px 15px;
      cursor: pointer;
      color: white;
      .arrow {
        font-family: 'vsp-icon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        font-size: 30px;
        padding: 0 5px;
        &:before {
          // Close icon
          content: "\e901";
        }
      }
      .tab {
        font-size: 18px;
      }
      .arrow,
      .tab {
        display: table-cell;
        vertical-align: middle;
      }

    }
  }
  .vsp-content {
    width: 100%;
    background: rgba(52, 52, 52, 0.95);
    color: white;
    position: relative;
    padding: 10px 15px;
  }

  &.left {
    display: flex;
    .vsp-action {
      align-self: center;
      .arrow {
        &:before {
          content: '\e900';
        }
      }
    }
    .vsp-content {
      top: 0;
      right: 0;
      bottom: 0;
    }
  }
  &.right {
    display: flex;

    .vsp-content {
      top: 0;
      right: 0;
      bottom: 0;
    }
    .vsp-action {
      align-self: center;
      .arrow {
        &:before {
          content: '\e903';
        }
      }
    }
  }

  // COLLAPSE SECTION
  &.vsp-collapse {
    &.top,
    &.bottom {
      .vsp-content {
        height: 0px;
        overflow: hidden;
        padding-top: 2px;
        padding-bottom: 2px;
      }
    }

    &.right,
    &.left {
      .vsp-content {
        padding: 2px;
        > div {
          width: 0px;
          overflow: hidden;
        }
      }
    }

    &.left {
      .vsp-action {
        .arrow {
          &:before {
            content: '\e903';
          }
        }
      }
    }
    &.right {
      .vsp-action {
        .arrow {
          &:before {
            content: '\e900';
          }
        }
      }
    }
    &.bottom {
      .vsp-action {
        .arrow {
          &:before {
            content: '\e902';
          }
        }
      }
    }
    &.top {
      .vsp-action {
        .arrow {
          &:before {
            content: '\e901';
          }
        }
      }
    }
  }
}

